<div class='container'>
	<header></header>
	<div class='main'>
		<div class='promotion'></div>
		<div class='categories-list'></div>
		<div class='product-list'></div>
		<div class='hot'></div>
	</div>
</div>
