<link rel='stylesheet' href="#">
<div class='container'>
	<div class='main'>
		<div class='promotion'>promotion</div>
		<div class='categories-list'>categories-list</div>
		<div class='product-list'>product-list</div>
		<div class='hot'>hot</div>
	</div>
</div>
