<div class='container'>
	<div class='marquee'>marquee</div>
	<div class='fb-link'>fb</div>
	<div class='limit-product'>限定商品</div>
	<div class='top-sale'>銷售排行</div>
	<div class='decorate'>廣告</div>
	<div class='promotion'>首版廣告</div>
	<div class='down-marquee'>bottom marquee</div>
</div>
