<div id='product-list' class='container-fluid'>
	<div class='product'></div>
	<div class='product'></div>
	<div class='product'></div>
	<div class='product'></div>
	<div class='product'></div>
	<div class='product'></div>
	<div class='product'></div>
	<div class='product'></div>
	<div class='product'></div>
	<div class='product'></div>
</div>
