<div class='container-fluid' id='login-page'>
	<div class='login'>
		<ul class='nav nav-tabs login-nav'>
			<li role="presentation" class='active'><a>會員登入</a></li>
			<li role="presentation"><a>FB-link</a></li>
		</ul>
	</div>
	<div class='login-input'>
		<form class='form-horizontal'>
			<div class='form-group'>
				<label class='col-sm-2 control-label'>電子信箱</label>
				<div class='col-sm-10'>
					<input name='email' class='form-control' placeholder="請輸入email">
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-2 control-label'>密碼</label>
				<div class='col-sm-10'>
					<input name='password' class='form-control' placeholder="請輸入密碼">
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-2 control-label'>驗證碼</label>
				<div class='col-sm-10'>
					<input name='token' class='form-control' placeholder="請輸入驗證碼">
				</div>
				<div class='col-sm-12 confirm'>
				</div>
			</div>
		</form>
		<div class='login-button'>	
			<button type="button" class="btn btn-danger btn-lg btn-block">登入</button>
			<button type="button" class="btn btn-primary btn-lg btn-block">註冊</button>
		</div>
	</div>
</div>
