<div class='container-fluid' id="product-page">
	<div class='category'>XX類</div>
	<div class='product-id'>商品編號:123456</div>
	<div class='product-name'>商品名稱:AAABBB</div>
	<div class='product-saler'>賣家資訊:孫小美</div>
	<div class='product-mainPic'>
		<%= image_tag('black.jpg' ,style:"width:100%;height:380px;") %>
	</div>

	<div class='link-icon'>
		 <ul>
			<li>line</li>
			<li>like</li>
			<li>share</li>
		</ul>
	</div>
	<div class='desc'>
		<div class='sale-price'>
			<span class='label label-danger'>售價：100</span>
		</div>
		<div class='sale-type'>
			<select class='form-control'>
				<option>黑S</option>
			</select>
		</div>
		<div class='add'>
			<button type="button" class="btn btn-primary btn-lg btn-block">加入購物車</button>
		</div>
	</div>
	<div class='funct'>
		<button class="btn btn-default btn-lg" type="submit">商品敘述</button>
		<button class="btn btn-default btn-lg" type="submit">更多圖片</button>
	</div>

</div>
