<div class='container-fluid' id='signup-page'>
	<div class='signup'>
		<ul class='nav nav-tabs login-nav'>
			<li role="presentation" class='active'><a>會員註冊</a></li>
			<li role="presentation"><a>FB-link</a></li>
		</ul>
	</div>
	<div class='signup-input'>
		<form class='form-horizontal'>

			<div class='form-group'>
				<label class='col-sm-2 control-label'>姓名</label>
				<div class='col-sm-10'>
					<input type="text"name='email' class='form-control' placeholder="請輸入全名">
				</div>
			</div>

			<div class='form-group'>
				<label class='col-sm-2 control-label'>性別</label>
				<div class='col-sm-10'>
					<input type="radio" name="sex">男
					<input type="radio" name="sex">女
				</div>
			</div>

			<div class='form-group'>
				<label class='col-sm-2 control-label'>電子信箱</label>
				<div class='col-sm-10'>
					<input type="email"name='email' class='form-control' placeholder="請輸入email">
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-2 control-label'>密碼</label>
				<div class='col-sm-10'>
					<input type="password" name='password' class='form-control' placeholder="請輸入密碼">
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-2 control-label'>密碼</label>
				<div class='col-sm-10'>
					<input type="password" name='password_c' class='form-control' placeholder="請再次輸入密碼">
				</div>
			</div>
			<div class='form-group'>
				<label class='col-sm-2 control-label'>驗證碼</label>
				<div class='col-sm-10'>
					<input name='token' class='form-control' placeholder="請輸入驗證碼">
				</div>
				<div class='col-sm-12 confirm'>
				</div>
			</div>
			<div class='form-group'>
				<div class='col-sm-12'>
					<input type="checkbox">我已仔細閱讀且同意隱私權及購物聲明。
				</div>
			</div>
		</form>
		<div class='login-button'>	
			<button type="button" class="btn btn-primary btn-lg btn-block">註冊</button>
		</div>
	</div>
</div>
