body {
  padding-top : 70px;
}
footer {
  bottom : 0px ;
  background-color : #e1e1e1 ;
  width : 100%; 
  text-align : center; 
  margin-top : 10px;
}
footer .container {
  padding : 0 ;
}
footer ul{
  height : 30px ;
  list-style-type : none ;
  margin-left : 0px; 
  padding:0px;
}

footer ul li {
  float : left ;
  width : 25% ;
  text-align : center ;
  font-size : 14px ;
  height : 30px ;
  padding : 10px ;
}

.nav-tabs {
  margin-top : 20px;
}
.nav-target{
  width:100%;
}
.nav-target .container-fluid {
  width : 100%;
  margin:0px;
  padding-top:8px;
}

.nav-target .container-fluid .product{
  width : 48% ;
  height : 150px;
  background-color:#e1e1e1;
  margin:1%;
  margin-top:5px;
  float:left;
}

.nav-target [hit=second] .product {
  background-color :black;
}

.nav-target [hit=third] .product {
  background-color :pink;
}
