body {
  padding-top : 70px;
  color:gray;
}
footer {
  bottom : 0px ;
  background-color : #e1e1e1 ;
  width : 100%; 
  text-align : center; 
  margin-top : 10px;
}
footer .container {
  padding : 0 ;
}
footer ul{
  height : 30px ;
  list-style-type : none ;
  margin-left : 0px; 
  padding:0px;
}

footer ul li {
  float : left ;
  width : 25% ;
  text-align : center ;
  font-size : 14px ;
  height : 30px ;
  padding : 10px ;
}

#product-page {
	font-size:16px;
}
.nav-tabs {
  margin-top : 20px;
}
.nav-target{
  width:100%;
}
.nav-target .container-fluid {
  width : 100%;
  margin:0px;
  padding-top:8px;
}

.nav-target .container-fluid .product{
  width : 48% ;
  height : 150px;
  background-color:#e1e1e1;
  margin:1%;
  margin-top:5px;
  float:left;
}

.nav-target [hit=second] .product {
  background-color :black;
}

.nav-target [hit=third] .product {
  background-color :pink;
}

#product-list .product {
	float : left ;
	width : 48% ;
	margin :1% ;
	background-color:#e1e1e1 ;
	height :140px;
}
.link-icon {
	height : 40px;
}
.link-icon li {
	float:right ;
	margin : 10px ;
	list-style:none;
}
.desc div {
	margin-top :15px;
}
.desc span {
	font-size :20px;
}
.add {
	margin-top:10px;
}
.funct {
	margin-top:15px;
	text-align: center;
	margin-bottom:15px;
}
.step-main div{
  float:left;
}
.step {
  text-align:center;
  width : 25%;
  height: 50px;
  padding : 10px;
}
.progress{
    margin-top:30px;
    width:100%;
}
.buying {
    min-height:600px;
    border:3px #e1e1e1 solid;
    border-radius:5px;
}
.buy-list{
    width:100%;
    background-color:#e1e1e1;
    margin-top:10px;
    height:50px;
    text-align:center;
    color:white;
    font-size:30px;
    letter-spacing:3px;
    padding-top:3px;
}
.deal{
  margin-top:20px;
}
