<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
	<header>header</header>

<%= yield %>

	<footer>footer</footer>
</body>
</html>
