<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta charset="utf-8">
</head>
<body>
	<header>
		<div class='logo'>logo</div>
		<div class='funct'>
			<ul>
				<li class='greeting'>歡迎來到XXX</li>
				<li class='login'>會員登入</li>
				<li class='account'>我的帳戶</li>
				<li class='detail'>購物說明</li>
				<li class='introduct'>公司簡介</li>
				<li class='search'><input type='search' placeholder="search"><li>
			</ul>
		</div>
	</header>
	<div class='banner'>
		<ul>
			<li>精選折扣</li>
			<li>精選折扣</li>
			<li>本週新品</li>
			<li>熱賣商品</li>
			<li>追加到貨</li>
			<li>PRODUCT1</li>
			<li>PRODUCT2</li>
			<li>PRODUCT3</li>
			<li>PRODUCT4</li>
			<li>PRODUCT5</li>
			<li>PRODUCT6</li>
			<li>SHOPCART</li>
		</ul>
	</div>

<%= yield %>

	<footer>footer</footer>
</body>
</html>
